$font: 'Univers-Condensed', Arial;
$row-width: 500px;

@import "fontello.css";

@font-face {
    font-family: 'Univers-Condensed';
    src: url('../fonts/UniversLTPro-BoldCond.eot');
    src: url('../fonts/UniversLTPro-BoldCond.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniversLTPro-BoldCond.woff2') format('woff2'),
        url('../fonts/UniversLTPro-BoldCond.woff') format('woff'),
        url('../fonts/UniversLTPro-BoldCond.ttf') format('truetype'),
        url('../fonts/UniversLTPro-BoldCond.svg#UniversLTPro-BoldCond') format('svg');
    font-weight: bold;
    font-style: normal;
}

html {
    color: rgb(255, 255, 255);
    font-family: $font;
    min-width: 320px;
}

body {
    background-color: rgb(117, 197, 238);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: opacity 0.2s linear;
    &:hover {
        opacity: 0.7;
    }
    &:visited {
        color: white;
    }
    &:-webkit-any-link {
        color: white;
    }
}

p {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.ru-video-bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

.ru-video-main {
    position: relative;
    z-index: 1;
}


@media only screen and (max-width: 700px) {

}